2015-active-objects-survey.aux
2015-active-objects-survey.bbl
2015-active-objects-survey.blg
2015-active-objects-survey.dvi
2015-active-objects-survey.log
2015-active-objects-survey.pdf
survey-parts/*.aux
